#root {
    background-color: #f6f6f8;
    background-image: url("./img/edited2-annie-spratt-ncQ2sguVlgo-unsplash.png");
    background-repeat: no-repeat;
    background-size: 50rem;
    height: 140vmax;
}

test {
  background-color: #cb997e;
  background-color: #eddcd2;
  background-color: #fff1e6;
  background-color: #f0efeb;
  background-color: #ddbea9;
  background-color: #a5a58d;
  background-color: #b7b7a4;
}

.container {
  margin-bottom: 20pt;
  padding-bottom: 20pt;
}

.headerText {
  text-align: center;
  font-size: 50pt;
  font-weight: bolder;
  color: #283d3b;
}

#deleteText {
  text-align: center;
}

.navBar {
  background-image: url("https://images.unsplash.com/photo-1459156212016-c812468e2115?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=649&q=80");
  background-repeat: no-repeat;
  background-size: 80rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin-bottom: 15pt;
}

.navButtonBox {
  flex: content;
}

.navButton {
  background-color: #f0efeb;
  border-radius: 5pt;
  font-family: helvetica;
  font-weight: bolder;
}

.linkButton {
  color: black;
}

#loginText {
  text-align: center;
}

.plantCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 10pt;
  padding-bottom: 10pt;
  margin-top: 15pt;
  margin-bottom: 15pt;
  background-color: #e6efee;
  border-style: solid;
  border-color: #283d3b;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
